<% if @users_books_permissions.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:label_user) %></th>
        <th><%= l(:label_permissions) %></th>
        <th style="width:15%"></th>
      </tr>
    </thead>
    <tbody>
    <% @users_books_permissions.each do |user_books_permission| %>
      <tr id="user-<%= user_books_permission.user_id %>" class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to_user user_books_permission.user %></td>
        <td><%= user_books_permission.actions.map {|action| l_or_humanize action, prefix: 'user_books_action_'}.join(', ') %></td>
        <td class="buttons">
          <%= delete_link url_for({ controller: :books_settings, action: :destroy, id: user_books_permission.user_id}), remote: true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %> </p>
<% end %>
