<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'book', plugin: 'redmine_books' %>
<% end %>

<h2><%= l(:label_books_settings) %></h2>

<div class="splitcontentleft" id="principals_books_permissions">
  <%= render 'books_permissions' %>
</div>


<div class="splitcontentright">
  <% if @users.any? %>
    <%= form_tag(books_settings_path, remote: true, method: :post, id: "users_books_permissions_form") do |f| %>
      <fieldset>
        <legend><%= l(:label_user_plural) %></legend>
        <p>
          <%= label_tag "user_search", l(:label_user_search) %><%= text_field_tag 'user_search', nil %>
        </p>
        <%= javascript_tag "observeSearchfield('user_search', 'users', '#{ escape_javascript autocomplete_for_users_books_settings_path }?model_name=User')" %>
        <div id="users">
          <%= principals_check_box_tags 'principals_ids[]', @users %>
        </div>
      </fieldset>
      <fieldset>
        <legend><%= l(:label_group_plural) %></legend>
        <p>
          <%= label_tag "groups_search", l(:label_group_search) %><%= text_field_tag 'principal_search', nil %>
        </p>
        <%= javascript_tag "observeSearchfield('principal_search', 'groups', '#{ escape_javascript autocomplete_for_users_books_settings_path }?model_name=Group')" %>
        <div id="groups">
          <%= principals_check_box_tags 'principals_ids[]', @groups %>
        </div>
      </fieldset>
        <p>
          <%= l(:label_action_plural) %>:
          <% RedmineBooks.available_principal_books_actions.each do |action| %>
            <label style="display:block">
              <%= check_box_tag 'actions[]', action %>
              <%= l_or_humanize(action, prefix: 'principal_books_action_') %>
            </label>
          <% end %>
        </p>
        <p>
          <%= submit_tag l(:button_add) %>
        </p>
    <% end %>
  <% end %>
</div>
