<tr id=<%= "book_#{ book.id }" %>>
  <td class="books-photo-cell" align="center">
    <%= render 'book_status', book: book %>
    <div class="books-photo">
      <%= link_to photo_for(book, nil, height: "200px"), book_path(book) %>
    </div>
  </td>
  <td class="books-info-cell">
    <strong class="books-link">
      <%= link_to "#{book.author}. " + '"' + "#{book.title}" + '"', book_path(book) %>
    </strong>
    <div style="margin-top:5px">
     <%= render 'menu', book: book, on_index: true %>
    </div>
  </td>
</tr>
<tr id=<%= "book_#{ book.id }_separator" %>><td colspan="2" class="books-separator"><td><tr>
