<% content_for :header_tags do %>
  <%= stylesheet_link_tag "book", plugin: "redmine_books" %>
<% end %>
<% if User.current.allowed_books_to? "add" %>
  <div class="contextual">
    <%= link_to l('book.new'), new_book_path, class: 'icon icon-add' %>
  </div>
<% end %>
<% if @books.any? %>
  <%= pagination_links_full @books_pages, @books_count %>
  <div class="books">
    <%= render @books %>
  </div>
  <%= pagination_links_full @books_pages, @books_count %>
<% else %>
  <p class="nodata" style="clear:both;"><%= l(:label_no_data) %></p>
<% end %>
