<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'book', :plugin => 'redmine_books' %>
  <%= stylesheet_link_tag 'rate', :plugin => 'redmine_books' %>
<% end %>
<% if User.current.allowed_books_to? "add" %>
  <div class="contextual">
    <%= link_to l('book.new'), new_book_path, class: 'icon icon-add' %>
  </div>
<% end %>
<h2><%= l(:label_my_books) %></h2>
<% if @books.any? %>
  <div class="books">
    <%= render @books %>
    <%= ajaxful_rating_style :plugin => 'redmine_books' %>
  </div>
<% else %>
  <p class="nodata" style="clear:both;"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :sidebar do %>
  <div style="margin: 10px 2px;padding:0;margin-bottom:20px;">
    <%= link_to l('label_books'), books_path, class: 'icon icon-books' %>
  </div>
<% end %>
