<%= content_for :header_tags do %>
  <%= stylesheet_link_tag 'book', plugin: 'redmine_books'%>
<% end %>

<div class="contextual">
  <%= render 'menu', book: @book %>
</div>

<div  class="book-show">
  <%= render 'book_status', book: @book %>
  <div  style="float:right;padding:6px 10px;">
    <div class="book-show-photo">
      <%= photo_for @book, :original, width: "450px;" %>
    </div>
  </div>
  <div class="book-show-content">
    <b class="book-attribute"><%= l("book.title") %>:</b>
    <%= @book.title %><br>
    <b class="book-attribute"><%= l("book.author") %>:</b>
    <%= @book.author %><br>
    <% unless @book.description.blank? %>
      <b class="book-attribute"><%= l("book.description") %>:</b>
      <p class="book-show-description"><%= textilizable(@book.description) %></p>
    <% end %>
    <% unless @book.book_files.blank? %>
      <b class="book-attribute"><%= l("book.files") %>:</b></br>
      <% @book.book_files.each do |book_file| %>
        <%= link_to truncate(book_file.file_url.split('/').last, length: 48), book_file.file_url if book_file.file_url %></br>
      <% end %>
    <% end %>
  </div>
  <%= link_to l(:link_show_history), load_history_book_path(@book), id: 'book_history', remote: true if @book.free? || @book.busy? %>
</div>
